In [2]:
import pandas as pd
import numpy as np

In [4]:
p=pd.Series([1,5,6,3,np.nan,4,0])
p

0    1.0
1    5.0
2    6.0
3    3.0
4    NaN
5    4.0
6    0.0
dtype: float64

In [7]:
d=pd.date_range('20200108',periods=8)
d

DatetimeIndex(['2020-01-08', '2020-01-09', '2020-01-10', '2020-01-11',
               '2020-01-12', '2020-01-13', '2020-01-14', '2020-01-15'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df3=pd.DataFrame(np.random.randn(8,4),index=d,columns=['A','B','C','D'])
df3

                   A         B         C         D
2020-01-08  0.946771  0.205985 -0.000290 -1.198105
2020-01-09 -0.312658  1.832525 -0.531788  0.489869
2020-01-10 -0.374147 -0.369866  0.862907 -0.426001
2020-01-11  0.492963  1.007420  1.041828  1.081831
2020-01-12  0.022112 -0.303911  2.364840 -1.161379
2020-01-13 -3.496409 -0.492780 -0.364589 -0.701185
2020-01-14  2.141692 -0.318673 -0.654625 -2.529326
2020-01-15  0.279280 -0.285955 -1.205940 -0.533955

In [12]:
df3.groupby(["A"]).sum()

                  B         C         D
A
-3.496409 -0.492780 -0.364589 -0.701185
-0.374147 -0.369866  0.862907 -0.426001
-0.312658  1.832525 -0.531788  0.489869
 0.022112 -0.303911  2.364840 -1.161379
 0.279280 -0.285955 -1.205940 -0.533955
 0.492963  1.007420  1.041828  1.081831
 0.946771  0.205985 -0.000290 -1.198105
 2.141692 -0.318673 -0.654625 -2.529326