In [2]:
import pandas as pd
import numpy as np

In [5]:
#to creat series
#np.nan is a null value

s=pd.Series([1,2,3,4,5,6,np.nan,8,9,10])
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     NaN
7     8.0
8     9.0
9    10.0
dtype: float64

In [3]:
# to create a dataframe by passing a numpy array with datetime index and label columns.


d=pd.date_range('20210928',periods=10)
d

DatetimeIndex(['2021-09-28', '2021-09-29', '2021-09-30', '2021-10-01',
               '2021-10-02', '2021-10-03', '2021-10-04', '2021-10-05',
               '2021-10-06', '2021-10-07'],
              dtype='datetime64[ns]', freq='D')

In [5]:
# to create a dataframe
# the np.random.randn() function creats an array of specified shape and fills it with random value as per standared normal distribution.
#column name with labels A,B,C,D
#index of the dataframe is the d and it contains datetime index


df=pd.DataFrame(np.random.randn(10,5),index=d,columns=['A','B','C','D','C'])
df

                   A         B         C         D         C
2021-09-28 -1.711688  0.009222 -1.757084  1.829052 -1.101218
2021-09-29 -0.598956  0.720413  1.110769 -1.175111  1.831220
2021-09-30 -0.062110  0.802515  0.587444  0.396901 -1.851869
2021-10-01 -0.416718  1.372512 -1.845796  0.692721  0.607820
2021-10-02 -0.125185  0.782413  0.346304 -0.435494 -1.579208
2021-10-03  1.887523  1.533355  0.408370 -0.262966 -1.517055
2021-10-04 -0.322466  1.608162  0.900126 -1.402882  0.221629
2021-10-05 -0.056659  0.362808 -0.343793  1.126242 -0.359842
2021-10-06 -1.157805  0.271061  1.294101  1.387262 -2.041842
2021-10-07  1.218262 -0.415006  0.929845 -0.178496  0.847613

In [8]:
# create a dtaframe by passing a dictionary of objects and it converted in to a series.

df1=pd.DataFrame({'A':[1,2,3,4],
                 'B':pd.Timestamp('20210928'),
                 'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                 'D':np.array([5]*4,dtype='int32'),
                 'E':pd.Categorical(['true','false','true','false']),
                 'F':'Pandas'})
df1

   A          B    C  D      E       F
0  1 2021-09-28  1.0  5   true  Pandas
1  2 2021-09-28  1.0  5  false  Pandas
2  3 2021-09-28  1.0  5   true  Pandas
3  4 2021-09-28  1.0  5  false  Pandas

In [10]:
#to check the datatype

df1.dtypes

A             int64
B    datetime64[ns]
c           float32
D             int32
E          category
F            object
dtype: object

In [11]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [12]:
#view the data
#it will give the first 5 values
df.head()

                   A         B         C         D
2021-09-28 -1.173122  0.223985  0.407908  0.813180
2021-09-29  0.612146 -0.288333 -0.497924  0.583481
2021-09-30 -0.719154  1.042569  0.519099 -1.132639
2021-10-01  0.135311  0.956756  0.341884  1.076625
2021-10-02 -0.409616  1.265521  0.335959  0.888961

In [17]:
# to get the last 5 values

df.tail()

                   A         B         C         D
2021-10-03  0.366293 -1.086029  0.242123 -0.656250
2021-10-04 -1.128700  0.306722  0.690071  1.523767
2021-10-05  1.927074  1.079511 -1.860684 -0.051516
2021-10-06 -0.351911 -0.674709  1.172327  0.844566
2021-10-07  0.869806 -0.719200  0.885415 -1.711556

In [18]:
#to get the index of dataframe

df.index

DatetimeIndex(['2021-09-28', '2021-09-29', '2021-09-30', '2021-10-01',
               '2021-10-02', '2021-10-03', '2021-10-04', '2021-10-05',
               '2021-10-06', '2021-10-07'],
              dtype='datetime64[ns]', freq='D')

In [19]:
#to get the column of the dataframe

df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [20]:
# to get the numpy representation of the data 

df.to_numpy()

array([[-1.1731224 ,  0.22398464,  0.40790803,  0.81318049],
       [ 0.61214574, -0.28833288, -0.49792363,  0.58348114],
       [-0.71915403,  1.04256862,  0.51909883, -1.13263924],
       [ 0.13531058,  0.95675612,  0.34188366,  1.07662547],
       [-0.40961621,  1.26552073,  0.33595903,  0.88896078],
       [ 0.36629308, -1.08602947,  0.24212274, -0.65624993],
       [-1.12869955,  0.30672241,  0.69007102,  1.52376719],
       [ 1.92707446,  1.07951137, -1.86068407, -0.05151598],
       [-0.35191052, -0.67470898,  1.17232693,  0.84456616],
       [ 0.86980619, -0.71919955,  0.88541515, -1.71155625]])

In [9]:
# to describe the data

df.describe()

               A          B          C          D          C
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean   -0.134580   0.704746   0.163029   0.197723  -0.494275
std     1.043248   0.667258   1.133424   1.076229   1.324276
min    -1.711688  -0.415006  -1.845796  -1.402882  -2.041842
25%    -0.553396   0.293998  -0.171269  -0.392362  -1.563669
50%    -0.223825   0.751413   0.497907   0.109203  -0.730530
75%    -0.058021   1.230013   0.922415   1.017861   0.511272
max     1.887523   1.608162   1.294101   1.829052   1.831220

In [22]:
#datframe sorted by index 

df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2021-09-28  0.813180  0.407908  0.223985 -1.173122
2021-09-29  0.583481 -0.497924 -0.288333  0.612146
2021-09-30 -1.132639  0.519099  1.042569 -0.719154
2021-10-01  1.076625  0.341884  0.956756  0.135311
2021-10-02  0.888961  0.335959  1.265521 -0.409616
2021-10-03 -0.656250  0.242123 -1.086029  0.366293
2021-10-04  1.523767  0.690071  0.306722 -1.128700
2021-10-05 -0.051516 -1.860684  1.079511  1.927074
2021-10-06  0.844566  1.172327 -0.674709 -0.351911
2021-10-07 -1.711556  0.885415 -0.719200  0.869806

In [23]:
#sorting the dataframe by values
#it sort the dataframe depending on 'C'
df.sort_values(by='C')

                   A         B         C         D
2021-10-05  1.927074  1.079511 -1.860684 -0.051516
2021-09-29  0.612146 -0.288333 -0.497924  0.583481
2021-10-03  0.366293 -1.086029  0.242123 -0.656250
2021-10-02 -0.409616  1.265521  0.335959  0.888961
2021-10-01  0.135311  0.956756  0.341884  1.076625
2021-09-28 -1.173122  0.223985  0.407908  0.813180
2021-09-30 -0.719154  1.042569  0.519099 -1.132639
2021-10-04 -1.128700  0.306722  0.690071  1.523767
2021-10-07  0.869806 -0.719200  0.885415 -1.711556
2021-10-06 -0.351911 -0.674709  1.172327  0.844566

In [24]:
# to access only the single column 


df['C']

2021-09-28    0.407908
2021-09-29   -0.497924
2021-09-30    0.519099
2021-10-01    0.341884
2021-10-02    0.335959
2021-10-03    0.242123
2021-10-04    0.690071
2021-10-05   -1.860684
2021-10-06    1.172327
2021-10-07    0.885415
Freq: D, Name: C, dtype: float64

In [25]:
# to slice the rows
# it will give the result from 0th row to 3rd row

df[0:3]

                   A         B         C         D
2021-09-28 -1.173122  0.223985  0.407908  0.813180
2021-09-29  0.612146 -0.288333 -0.497924  0.583481
2021-09-30 -0.719154  1.042569  0.519099 -1.132639

In [26]:
# to select the data by using the labels
# inside the loc methods, we can pass the values by labels

df.loc[d[0]]

A   -1.173122
B    0.223985
C    0.407908
D    0.813180
Name: 2021-09-28 00:00:00, dtype: float64

In [27]:
# to selecting data on a multi axis by label

df.loc[:,['A','C']]

                   A         C
2021-09-28 -1.173122  0.407908
2021-09-29  0.612146 -0.497924
2021-09-30 -0.719154  0.519099
2021-10-01  0.135311  0.341884
2021-10-02 -0.409616  0.335959
2021-10-03  0.366293  0.242123
2021-10-04 -1.128700  0.690071
2021-10-05  1.927074 -1.860684
2021-10-06 -0.351911  1.172327
2021-10-07  0.869806  0.885415

In [28]:
#  to get the data with in soma range
df.loc['20210928':'20211003',['D','C']]

                   D         C
2021-09-28  0.813180  0.407908
2021-09-29  0.583481 -0.497924
2021-09-30 -1.132639  0.519099
2021-10-01  1.076625  0.341884
2021-10-02  0.888961  0.335959
2021-10-03 -0.656250  0.242123

In [29]:
# to get the data with in same range

df.loc['20210928',['D','C']]

D    0.813180
C    0.407908
Name: 2021-09-28 00:00:00, dtype: float64

In [30]:
# to get a single elament from the dataframe

df.loc[d[0],['D','C']]

D    0.813180
C    0.407908
Name: 2021-09-28 00:00:00, dtype: float64

In [31]:
# to get the exact value in 0th index at column 'c'##############

df.at[d[0],'C']

0.40790802801968734

In [32]:
#selecting a value from using the position inside the dataframe
#it will select all the value from the third position

df.iloc[3]

A    0.135311
B    0.956756
C    0.341884
D    1.076625
Name: 2021-10-01 00:00:00, dtype: float64

In [33]:
# to select the values in 3rd and 4th position

df.iloc[3:5]

                   A         B         C         D
2021-10-01  0.135311  0.956756  0.341884  1.076625
2021-10-02 -0.409616  1.265521  0.335959  0.888961

In [34]:
# to select the value which is in 3rd to 4th row,and it only include the column start with 0 and end with 2

df.iloc[3:5,0:2]

                   A         B
2021-10-01  0.135311  0.956756
2021-10-02 -0.409616  1.265521

In [35]:
# boolean indexing
# it will show the values in'A' which is greater than '0'

df[df['A']>0]

                   A         B         C         D
2021-09-29  0.612146 -0.288333 -0.497924  0.583481
2021-10-01  0.135311  0.956756  0.341884  1.076625
2021-10-03  0.366293 -1.086029  0.242123 -0.656250
2021-10-05  1.927074  1.079511 -1.860684 -0.051516
2021-10-07  0.869806 -0.719200  0.885415 -1.711556

In [36]:
df[df['A']>2]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [37]:
df[df['A']>3]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [38]:
# handling the missing values.

df2=df.reindex(index=d[0:4],columns=list(df.columns)+['E'])
df2.loc[d[0]:d[1],'E']=1
df2

                   A         B         C         D    E
2021-09-28 -1.173122  0.223985  0.407908  0.813180  1.0
2021-09-29  0.612146 -0.288333 -0.497924  0.583481  1.0
2021-09-30 -0.719154  1.042569  0.519099 -1.132639  NaN
2021-10-01  0.135311  0.956756  0.341884  1.076625  NaN

In [39]:
# to check the null values

df2.isnull()

                A      B      C      D      E
2021-09-28  False  False  False  False  False
2021-09-29  False  False  False  False  False
2021-09-30  False  False  False  False   True
2021-10-01  False  False  False  False   True

In [40]:
# to drop the column 
# it will drop the null values presented in a dtaframe

df2.dropna()

                   A         B         C         D    E
2021-09-28 -1.173122  0.223985  0.407908  0.813180  1.0
2021-09-29  0.612146 -0.288333 -0.497924  0.583481  1.0

In [41]:
# fill the missing data
# it will fill the missing value with 2

df2.fillna(value=2)

                   A         B         C         D    E
2021-09-28 -1.173122  0.223985  0.407908  0.813180  1.0
2021-09-29  0.612146 -0.288333 -0.497924  0.583481  1.0
2021-09-30 -0.719154  1.042569  0.519099 -1.132639  2.0
2021-10-01  0.135311  0.956756  0.341884  1.076625  2.0

In [42]:
# descriptive statistics
# to find the mean

df.mean()

A    0.012813
B    0.210679
C    0.223618
D    0.217862
dtype: float64

In [43]:
s=pd.Series([1,2,3,np.nan,4,5,6,7,8,9],index=d).shift(2)
s

2021-09-28    NaN
2021-09-29    NaN
2021-09-30    1.0
2021-10-01    2.0
2021-10-02    3.0
2021-10-03    NaN
2021-10-04    4.0
2021-10-05    5.0
2021-10-06    6.0
2021-10-07    7.0
Freq: D, dtype: float64

In [44]:
# it substract all elamnets of df by s

df.sub(s,axis='index')

                   A         B         C         D
2021-09-28       NaN       NaN       NaN       NaN
2021-09-29       NaN       NaN       NaN       NaN
2021-09-30 -1.719154  0.042569 -0.480901 -2.132639
2021-10-01 -1.864689 -1.043244 -1.658116 -0.923375
2021-10-02 -3.409616 -1.734479 -2.664041 -2.111039
2021-10-03       NaN       NaN       NaN       NaN
2021-10-04 -5.128700 -3.693278 -3.309929 -2.476233
2021-10-05 -3.072926 -3.920489 -6.860684 -5.051516
2021-10-06 -6.351911 -6.674709 -4.827673 -5.155434
2021-10-07 -6.130194 -7.719200 -6.114585 -8.711556

In [45]:
df

                   A         B         C         D
2021-09-28 -1.173122  0.223985  0.407908  0.813180
2021-09-29  0.612146 -0.288333 -0.497924  0.583481
2021-09-30 -0.719154  1.042569  0.519099 -1.132639
2021-10-01  0.135311  0.956756  0.341884  1.076625
2021-10-02 -0.409616  1.265521  0.335959  0.888961
2021-10-03  0.366293 -1.086029  0.242123 -0.656250
2021-10-04 -1.128700  0.306722  0.690071  1.523767
2021-10-05  1.927074  1.079511 -1.860684 -0.051516
2021-10-06 -0.351911 -0.674709  1.172327  0.844566
2021-10-07  0.869806 -0.719200  0.885415 -1.711556

In [46]:
# to apply some functions
# cumsum is used to find the cumulative sum value over any axis

df.apply(np.cumsum)

                   A         B         C         D
2021-09-28 -1.173122  0.223985  0.407908  0.813180
2021-09-29 -0.560977 -0.064348 -0.090016  1.396662
2021-09-30 -1.280131  0.978220  0.429083  0.264022
2021-10-01 -1.144820  1.934976  0.770967  1.340648
2021-10-02 -1.554436  3.200497  1.106926  2.229609
2021-10-03 -1.188143  2.114468  1.349049  1.573359
2021-10-04 -2.316843  2.421190  2.039120  3.097126
2021-10-05 -0.389768  3.500702  0.178436  3.045610
2021-10-06 -0.741679  2.825993  1.350763  3.890176
2021-10-07  0.128127  2.106793  2.236178  2.178620

In [47]:
# lambda function will take any number of arguements but can only have one expression
# it give the substraction of x.max and x.min

df.apply(lambda x:x.max()-x.min())

A    3.100197
B    2.351550
C    3.033011
D    3.235323
dtype: float64

In [48]:
# histograms ------histogram is a representation of distribution of data
# the value_counts() fumction returns a series that contains count of unique values.

s.value_counts()

1.0    1
2.0    1
3.0    1
4.0    1
5.0    1
6.0    1
7.0    1
dtype: int64

In [49]:
s=pd.Series (['pandas','pyhton','jupyter',np.nan,'java','colab'])

# string method inside pandas

s.str.upper()

0     PANDAS
1     PYHTON
2    JUPYTER
3        NaN
4       JAVA
5      COLAB
dtype: object

In [50]:
df=pd.DataFrame (np.random.randn(10,4))
df

          0         1         2         3
0 -0.847186  1.212077  1.224773  0.668952
1 -1.056578  0.688156  1.291046 -1.284948
2 -0.544453  1.198856 -0.299926  0.870706
3  1.417611  0.412615 -1.740939 -1.719684
4  0.439608  0.193715  0.409071 -0.317295
5 -0.591894 -1.842492  1.476563 -0.791131
6  1.861669  1.330856 -0.236327  0.883672
7  0.654703 -0.368077  0.759651 -0.272127
8  0.166411 -0.965458 -1.159232  1.985258
9  1.047193 -0.071066  0.137765  0.993659

In [68]:
# break the datframe 

df2=[df[:3],d[3:6],df[6:10]]
df2

[                   A         B         C         D         C
 2021-09-28  0.218384  0.541962  0.822330  3.272918  1.844933
 2021-09-29 -1.539574  0.838420 -2.363661  1.579005  0.205660
 2021-09-30  0.412593 -1.666125 -0.076985  1.320959 -0.959479,
 DatetimeIndex(['2021-10-01', '2021-10-02', '2021-10-03'], dtype='datetime64[ns]', freq='D'),
                    A         B         C         D         C
 2021-10-04 -1.043123  0.378604 -0.198903 -0.474805  0.325071
 2021-10-05 -0.845787  1.409765 -0.705643 -1.653317  0.435342
 2021-10-06  1.967871 -0.354635 -0.509418 -0.210578  0.788403
 2021-10-07 -1.514697  0.802711 -0.696016  0.255641 -1.766634]

In [69]:
# concat the several pieces

pd.concat(df2)

TypeError: cannot concatenate object of type '<class 'pandas.core.indexes.datetimes.DatetimeIndex'>'; only Series and DataFrame objs are valid

In [53]:
# # left joining
# left= pd.DataFrame ({'A':[1,2],'B':[3,4]})

In [54]:
# right joining

# right = pd.DtaFrame({'a':[1,2],'B':[3,4]})

# left

# right

# pd.merge(left,right,on='A')

df

          0         1         2         3
0 -0.847186  1.212077  1.224773  0.668952
1 -1.056578  0.688156  1.291046 -1.284948
2 -0.544453  1.198856 -0.299926  0.870706
3  1.417611  0.412615 -1.740939 -1.719684
4  0.439608  0.193715  0.409071 -0.317295
5 -0.591894 -1.842492  1.476563 -0.791131
6  1.861669  1.330856 -0.236327  0.883672
7  0.654703 -0.368077  0.759651 -0.272127
8  0.166411 -0.965458 -1.159232  1.985258
9  1.047193 -0.071066  0.137765  0.993659

In [75]:
# grouping

df.groupby(["A"]).sum()

                  B         C         D         C
A
-1.539574  0.838420 -2.363661  1.579005  0.205660
-1.514697  0.802711 -0.696016  0.255641 -1.766634
-1.043123  0.378604 -0.198903 -0.474805  0.325071
-0.845787  1.409765 -0.705643 -1.653317  0.435342
-0.244455  0.749179 -0.916129  0.254236 -0.407305
 0.002550 -0.245607 -0.385489 -0.469535  1.428300
 0.218384  0.541962  0.822330  3.272918  1.844933
 0.412593 -1.666125 -0.076985  1.320959 -0.959479
 0.697043 -0.528134 -1.285951  0.147407 -1.440399
 1.967871 -0.354635 -0.509418 -0.210578  0.788403

In [ ]:
# # reshape the datframe wrok

# my_tuple=list(zip(*[[1,2,3,4,5,17,18,19],[11,12,13,7,8,9,10]]))
# index=pd.MultiIndex.from my_tuples(my_tuple,names=['first','second'])
# df=pd.DataFrame(np.random.randn(8,2),index=index,columns=['A','B'])
# df2=df[:2]
# df2

In [ ]:
# df2.stack()

In [ ]:
# # stack has multiindex as indexes
# # inverse stack is unstack

In [ ]:
# df2.unstack()

In [ ]:
# #pivot table
# df= pd.DataFrame({'A':['a','b','c','d']*3,
#                   'B':['A','B','C']* 4,
#                   'C':['P','P','P','Q','Q','Q']*2
#                   'D':np.random.randn(12),
#                   'E':np.random.randn(12)})
#df

In [ ]:
# pd.pivot_table(df,values='D',index=['A','B'],columns=['C'])

In [ ]:
# dates=pd.date_range('30/09/2021 00:00',periods=5,freq='5')
# dates

In [ ]:
# ts= pd.Series(np.random.randint(len(dates)),dates)

In [ ]:
# ts

In [ ]:
# ts_utc=ts.tz_localize('UIC')

In [ ]:
# ts_utc

In [ ]:
# ts_utc_ttz_convert('Us/Eastern')

In [ ]:
# dates=pd.date_range('30/09/2021',periods=5,freq='M')

In [ ]:
# ts=pd.series(np.random.randint(len(dates)),dates)
# ts

In [ ]:
# ps=ts.to_period()

In [ ]:
# ps

In [ ]:
# ps.to_timestamp()

In [ ]:
# df = dataFrame({'id':[1,2,3,4,5,6],
#               "grade":['a','b','c','b','a','e']})

In [ ]:
# df

In [ ]:
# df ['grade']=df['grade'].astype("catogary")

In [ ]:
# df['Grade']

In [ ]:
# df['Grade'].cat.categories = ['good','very bad','very good','excellent']

In [ ]:
# df['Grade']= df['Grade'].cat.set_categories(["very good","bad","very bad","good","medium"])
# df["Grade"]

In [66]:
df2

[                   A         B         C         D         C
 2021-09-28  0.218384  0.541962  0.822330  3.272918  1.844933
 2021-09-29 -1.539574  0.838420 -2.363661  1.579005  0.205660
 2021-09-30  0.412593 -1.666125 -0.076985  1.320959 -0.959479,
 DatetimeIndex(['2021-10-01', '2021-10-02', '2021-10-03', '2021-10-04'], dtype='datetime64[ns]', freq='D'),
                    A         B         C         D         C
 2021-10-05 -0.845787  1.409765 -0.705643 -1.653317  0.435342
 2021-10-06  1.967871 -0.354635 -0.509418 -0.210578  0.788403
 2021-10-07 -1.514697  0.802711 -0.696016  0.255641 -1.766634]