In [28]:
import pandas as pd
import numpy as np

s=pd.Series([1,2,3,4,np.nan,5,6])
s

In [5]:
d=pd.date_range('20200109',periods=10)
d

DatetimeIndex(['2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df=pd.DataFrame(np.random.randn(4,4),index=[1,2,3,4],columns=['A','B','c','D'])
df

          A         B         c         D
1 -0.009548  0.062812 -0.539472  1.844624
2 -0.236053 -0.150657 -1.201408  1.048229
3  0.000646 -0.676699 -1.203700 -0.126337
4 -0.349842  0.786233 -0.486459 -0.542402

In [12]:
fd=pd.DataFrame(np.random.randn(10,5),index=d,columns=['A','B','C','D','E'])
fd

                   A         B         C         D         E
2020-01-09 -1.236972  0.229523 -1.450144  0.225859 -2.842346
2020-01-10 -0.318152 -1.288337 -0.736595 -2.070805  0.622440
2020-01-11  0.846533 -0.445753 -0.451608 -0.067510  0.308363
2020-01-12 -0.071050  0.027815 -1.093977 -0.026804  0.489852
2020-01-13  0.483172  0.033110  0.065113 -0.106806 -0.467808
2020-01-14 -0.291704 -0.837617  1.976069 -1.173516  0.149988
2020-01-15 -1.886714  0.499216  1.500718  0.234956  0.574518
2020-01-16 -0.316088  0.579352 -0.676006 -0.163560 -1.039277
2020-01-17 -0.292497  0.605936 -0.129989 -0.895263  1.545378
2020-01-18 -0.277547  0.750149 -0.109954  0.202366  0.796302

In [29]:
df1=pd.DataFrame=({'A':[1,2,3,4],
                  'B':pd.Timestamp('20210910'),
                  'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                  'D':np.array([5]*4,dtype='int32'),
                  'E':pd.Categorical(['true','false','true','false']),
                  'F':"pandas"})
df1

{'A': [1, 2, 3, 4],
 'B': Timestamp('2021-09-10 00:00:00'),
 'C': 0    1.0
 1    1.0
 2    1.0
 3    1.0
 dtype: float32,
 'D': array([5, 5, 5, 5]),
 'E': ['true', 'false', 'true', 'false']
 Categories (2, object): ['false', 'true'],
 'F': 'pandas'}

In [30]:
df1=pd.DataFrame({'A':[1,2,3,4],
                 'B':pd.Timestamp('20210928'),
                 'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                 'D':np.array([5]*4,dtype='int32'),
                 'E':pd.Categorical(['true','false','true','false']),
                 'F':'Pandas'})
df1

TypeError: 'dict' object is not callable

In [31]:
df.dtypes

A    float64
B    float64
c    float64
D    float64
dtype: object

In [32]:
df.head()

          A         B         c         D
1 -0.009548  0.062812 -0.539472  1.844624
2 -0.236053 -0.150657 -1.201408  1.048229
3  0.000646 -0.676699 -1.203700 -0.126337
4 -0.349842  0.786233 -0.486459 -0.542402

In [33]:
df.tail()

          A         B         c         D
1 -0.009548  0.062812 -0.539472  1.844624
2 -0.236053 -0.150657 -1.201408  1.048229
3  0.000646 -0.676699 -1.203700 -0.126337
4 -0.349842  0.786233 -0.486459 -0.542402

In [34]:
df.index

Int64Index([1, 2, 3, 4], dtype='int64')

In [35]:
df.columns

Index(['A', 'B', 'c', 'D'], dtype='object')

In [37]:
df.to_numpy

<bound method DataFrame.to_numpy of           A         B         c         D
1 -0.009548  0.062812 -0.539472  1.844624
2 -0.236053 -0.150657 -1.201408  1.048229
3  0.000646 -0.676699 -1.203700 -0.126337
4 -0.349842  0.786233 -0.486459 -0.542402>

In [42]:
df.columns

Index(['A', 'B', 'c', 'D'], dtype='object')

In [44]:
df.describe()

AttributeError: 'dict' object has no attribute '_get_axis_number'

In [45]:
df['D']

1    1.844624
2    1.048229
3   -0.126337
4   -0.542402
Name: D, dtype: float64

In [47]:
df['B']

1    0.062812
2   -0.150657
3   -0.676699
4    0.786233
Name: B, dtype: float64

In [48]:
df['A']

1   -0.009548
2   -0.236053
3    0.000646
4   -0.349842
Name: A, dtype: float64

In [50]:
df["c"]

1   -0.539472
2   -1.201408
3   -1.203700
4   -0.486459
Name: c, dtype: float64

In [53]:
df.loc[d[0]]

KeyError: Timestamp('2020-01-09 00:00:00', freq='D')

In [59]:
df2=df.reindex(index=d[0:4],columns=list(df.columns)+['E'])
df2.loc[d[0]:d[2],'E']=1
df2

             A   B   c   D    E
2020-01-09 NaN NaN NaN NaN  1.0
2020-01-10 NaN NaN NaN NaN  1.0
2020-01-11 NaN NaN NaN NaN  1.0
2020-01-12 NaN NaN NaN NaN  NaN